.header {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #e4e4e4dc; 
    position: relative;
    /* color: white; */
}

.header h1 {
    font-size: 22px;
}

.header img {
    position: absolute;
    left: 10px;
    height: 59px;
}

.currency-header {
    display: flex;
}

.info {
    margin-left: 20px;
}

.info span {
    font-weight: 500;
}

.exchange-date {
    font-size: 18px;
}